@model List<Category>
<!-- Category Section -->
<section id="services" class="services section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Category</h2>

    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-4">
            @foreach (var item in Model)
            {
                <div class="col-xl-4 col-lg-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="service-item d-flex">
                        <div class="icon flex-shrink-0"><i class="bi @item.Image"></i></div>
                        <div>
                            <h4 class="title"><a href="/product/allproduct/@item.Id" class="stretched-link">@item.Name</a></h4>
                            <p class="description">@item.Description</p>
                        </div>
                    </div>
                </div>
            }
            <!-- End Service Item -->



        </div>

    </div>

</section><!-- /Category Section -->
